<div class="jumbo">
    <div></div>
    <h2>Welcome!</h2>
    <p>We hope you find exactly what you're looking for in a place to stay.</p>
    {{#link-to "about" class="button"}}
	About Us
    {{/link-to}}
</div>
{{#book-filter
   filter=(action 'filterByName')
   as |filteredResults|}}
    <ul class="results">
	{{#each filteredResults as |bookUnit|}}
	    {{book-listing book=bookUnit}}
	{{/each}}
    </ul>
{{/book-filter}}
