<div class="jumbo">
    <div></div>
    <h2>Contact Us</h2>
    <p>Super Rentals Representatives would love to help you<br>choose a destination or answer
	any questions you may have.</p>
    <address>
	"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
	<p>
	    1212 Test Address Avenue<br>
	    Testington, OR 97233
	</p>
	<a href="tel:503.555.121">+1 (503) 555-1212</a><br>
	<a href="mailto:aydinmernur@gmail.com">aydinmernur@gmail.com</a>
    </address>
</div>
